@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
html, body {
  overflow-x: hidden;
}


h1, h2, h3, h4, h5, h6 ,div, span, p, a, button {
    font-family: 'Raleway', sans-serif;
}
 
@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    /* Move the container left by half its width, creating a seamless loop */
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    /* Move the container right, back to its starting visual position */
    transform: translateX(0);
  }
}

 